$mdc-typography-font-family: unquote("Work Sans, sans-serif");
$mdc-shape-small-component-radius: 4px;
$mdc-shape-medium-component-radius: 4px;
$mdc-shape-large-component-radius: 0px;
$mdc-theme-primary: #d31245;
$mdc-theme-secondary: #12d3a0;
$mdc-theme-surface: #ffffff;
$mdc-theme-background: #ffffff;
$mdc-theme-error: #ba3209;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;
$mdc-theme-on-error: #ffffff;
$mdc-theme-on-surface: #000000;
@import "@material/typography/mdc-typography";
@import "@material/icon-button/mdc-icon-button";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/top-app-bar/mdc-top-app-bar";