@import 'material';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mdc-top-app-bar__logo svg {
    height: 32px;
    margin: 8px;
    fill: $mdc-theme-on-primary;
}

.mdc-top-app-bar__title {
    font-weight: 900;
}